/*
 Align container
 $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
 $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
 $method: text | flex | position | float;
 @if $height != null {
 height: $height;
 }
 */
/*
 $distribute: 'vertical' | 'horizontal';
 $align: 'top' | 'middle' | 'bottom' | 'left' | 'center' | 'right';
 $space: 'space-between' | 'space-around' | 'space-evenly';
 $method: 'flex';
 */
/* MEDIA
 * 1.1. Images
 * YouTube Video
 * Google Maps
 * Audio
 */
/* 1.1. Images */
a.preview {
  height: auto; }
