#header,
#header > div {
  height: $hgrid-header-height;
}
#header1{
  height: $hgrid-header1-height;
  [itemprop="name"] a {
    height: $hgrid-logo-height;
    picture[itemprop="logo"],
    picture[itemprop="logo"] img {
      height: $hgrid-logo-height;
    }
  }
}
