#intro {
  & > * {
    display: none;
  }
  & > *.active {
    display: inherit;
  }
  .tagline {
    font-size: 90%;
  }
  .image {
    position: relative;
    img {
      transition: opacity 1s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      &:last-child {
        opacity: 0;
      }
      &.fade-in {
        opacity: 1;
      }
      &.fade-out {
        opacity: 0;
      }
    }
  }
  #innovation .image {
    background-color: #27213C;
  }
  #strategies .image {
    background-color: #004080;
  }
  #stories .image {
    background-color: #FFCC00;
  }
  #identities .image {
    background-color: #2E3092;
  }
  #local_visible .image {
    background-color: #00854A;
  }
}
