@import "settings";
#footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.2em 1.2em;
  grid-auto-flow: row;
  grid-template-areas:
    "fiscal-data ."
    ". .";
}
