@import
  "settings";
// Grid
.vgrid,
.maxgrid,
.print {
  display: none !important;
}
.nav {
    &.hgrid-horizontal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div > ul,
        & > div > ol {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > li {
                display: inline-block;
                margin: 0 $gutter;
            }
        }
    }
}
#header1-nav1 {
    overflow-x: auto;
}