@import
  "settings";
.vgrid-no {
  display: none;
}
#header,
#main,
#footer,
aside.meta {

}
.content-container {
  box-sizing: border-box;
  padding: $gutter/2;
}
#header-top {
  .email.link,
  .telephone.link {
    .text {
      display: none;
    }
  }
}
#header1 {
  flex-wrap: wrap;
  & > * {
    width: 100%;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
#header1-nav1 {
    h3 {
        text-align: right;
    }
}
.nav {
  &.vgrid-fullwidth {
    & > div > ul > li,
    & > div > ol > li {
      width: 100%;
      a {
       width: 100%;
      }
    }
  }
}