/*
 & > .flex-grow1 {// equal width children
 @include flexbox((
 flex-grow: 1
 ));
 }
 &.nowrap {
 @include flexbox((
 flex-wrap: nowrap
 ));
 }
 &.align-top {
 @include align-items(flex-start);
 }
 &.align-bottom {
 @include align-items(flex-end);
 }
 &.align-middle {
 @include align-items(center);
 }
 &.align-baseline {
 @include align-items(baseline);
 }
 &.align-left {
 @include justify-content(flex-start);
 }
 &.align-center {
 @include justify-content(center);
 }
 &.align-right {
 @include justify-content(flex-end);
 }
 */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

html {
  font-family: "system-ui", "system";
  line-height: 1.5em;
  color: #444;
  font-size: 1rem;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

#page, #header, #main, .content-container, #footer, body > footer {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, Gecko */
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both; }

#page, body:not(.header-fixed) #header, #main, .content-container, #footer, body > footer {
  position: relative; }

#page, #header, #main, #footer, body > footer {
  max-width: 1280px; }

.content-container {
  max-width: 1000px; }

#footer {
  max-width: 1280px; }

/*
 // Display
 .display-none {
 display: none !important;
 }
 .screen-reader-text {
 @include screen-reader-text;
 }
 // Flex
 .field,
 fieldset.field {
 @include flex-container;
 }
 // Float
 .float,
 .float-container {
 @include float-container;
 }
 .position,
 .position-container {
 @include align-container(null, null, 'position');
 }
 .width-full,
 .box,
 .border-box,
 .content-container {
 box-sizing: border-box;
 }
 */
.display-none, .no {
  display: none !important; }

.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex > * {
    box-sizing: border-box; }
  .flex > .flex-grow1 {
    flex-grow: 1; }
  .flex.nowrap {
    flex-wrap: nowrap; }
  .flex.align-top {
    align-items: flex-start; }
  .flex.align-bottom {
    align-items: flex-end; }
  .flex.v-align-center, .flex.align-middle {
    align-items: center; }
  .flex.align-baseline {
    align-items: baseline; }
  .flex.align-left {
    justify-content: flex-start; }
  .flex.align-center {
    justify-content: center; }
  .flex.align-right {
    justify-content: flex-end; }

.flex-no {
  display: inherit; }

.flex1 {
  flex: 1; }

.width-full {
  width: 100%; }

.width-half, .w1of2 {
  width: 50%; }

.w1of3 {
  width: 33.3333333333%; }

.w2of3 {
  width: 66.6666666667%; }

.w1of4 {
  width: 25%; }

.w1of5 {
  width: 20%; }

.w2 {
  width: 50%; }

.cols1 {
  width: 100%; }
  .cols1 > * {
    width: 100%; }

.cols2 {
  width: 100%; }
  .cols2 > * {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols2 > :nth-child(2n+1) {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols2 > :nth-child(2n) {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

.cols3 {
  width: 100%; }
  .cols3 > * {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols3 > :nth-child(3n+1) {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols3 > :nth-child(3n) {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

.cols4 {
  width: 100%; }
  .cols4 > * {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols4 > :nth-child(4n+1) {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols4 > :nth-child(4n) {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

/*
  @if $grid != '' {
    .section-padding-top,
    .section,
    .section-padding-top,
    .section {
      padding-top: $content-start-top;
    }
    .section-padding-bottom,
    .section,
    .section-padding-bottom,
    .section {
      padding-bottom: $content-start-top;
    }
  }
*/
.padding-d4, .padding-v-d4, .padding-top-d4 {
  padding-top: 0.25rem !important; }

.padding-d4, .padding-v-d4, .padding-bottom-d4 {
  padding-bottom: 0.25rem !important; }

.padding-d2, .padding-v-d2, .padding-top-d2 {
  padding-top: 0.5rem !important; }

.padding-d2, .padding-v-d2, .padding-bottom-d2 {
  padding-bottom: 0.5rem !important; }

.padding, .padding-v, .padding-top {
  padding-top: 1rem !important; }

.padding, .padding-v, .padding-bottom {
  padding-bottom: 1rem !important; }

.padding-2x, .padding-v-2x, .padding-top-2x {
  padding-top: 2rem !important; }

.padding-2x, .padding-v-2x, .padding-bottom-2x {
  padding-bottom: 2rem !important; }

.padding-d4, .padding-h-d4, .padding-right-d4 {
  padding-right: 0.25rem !important; }

.padding-d2, .padding-h-d2, .padding-right-d2 {
  padding-right: 0.5rem !important; }

.padding, .padding-h, .padding-right {
  padding-right: 1rem !important; }

.padding-2x, .padding-h-2x, .padding-right-2x {
  padding-right: 2rem !important; }

.padding-d4, .padding-h-d4, .padding-left-d4 {
  padding-left: 0.25rem !important; }

.padding-d2, .padding-h-d2, .padding-left-d2 {
  padding-left: 0.5rem !important; }

.padding, .padding-h, .padding-left {
  padding-left: 1rem !important; }

.padding-2x, .padding-h-2x, .padding-left-2x {
  padding-left: 2rem !important; }

.full-width {
  padding-left: 0;
  padding-right: 0; }

.no-padding-top, .no-padding, .no-padding-v {
  padding-top: 0 !important; }

.no-padding-bottom, .no-padding, .no-padding-v {
  padding-bottom: 0 !important; }

.no-padding-left, .no-padding, .no-padding-h {
  padding-left: 0 !important; }

.no-padding-right, .no-padding, .no-padding-h {
  padding-right: 0 !important; }

.margin-d4, .margin-v-d4, .margin-top-d4 {
  margin-top: 0.25rem; }

.margin-d4, .margin-v-d4, .margin-bottom-d4 {
  margin-bottom: 0.25rem; }

.margin-d2, .margin-v-d2, .margin-top-d2 {
  margin-top: 0.5rem; }

.margin-d2, .margin-v-d2, .margin-bottom-d2 {
  margin-bottom: 0.5rem; }

.margin, .margin-v, .margin-top {
  margin-top: 1rem; }

.margin, .margin-v, .margin-bottom {
  margin-bottom: 1rem; }

.margin-2x, .margin-v-2x, .margin-top-2x {
  margin-top: 2rem; }

.margin-2x, .margin-v-2x, .margin-bottom-2x {
  margin-bottom: 2rem; }

.margin-d4, .margin-h-d4, .margin-right-d4 {
  margin-right: 0.25rem; }

.margin-d2, .margin-h-d2, .margin-right-d2 {
  margin-right: 0.5rem; }

.margin, .margin-h, .margin-right {
  margin-right: 1rem; }

.margin-2x, .margin-h-2x, .margin-right-2x {
  margin-right: 2rem; }

.margin-d4, .margin-h-d4, .margin-left-d4 {
  margin-left: 0.25rem; }

.margin-d2, .margin-h-d2, .margin-left-d2 {
  margin-left: 0.5rem; }

.margin, .margin-h, .margin-left {
  margin-left: 1rem; }

.margin-2x, .margin-h-2x, .margin-left-2x {
  margin-left: 2rem; }

.no-margin-top, .no-margin, .no-margin-v {
  margin-top: 0 !important; }

.no-margin-bottom, .no-margin, .no-margin-v {
  margin-bottom: 0 !important; }

.no-margin-left, .no-margin, .no-margin-h {
  margin-left: 0 !important; }

.no-margin-right, .no-margin, .no-margin-h {
  margin-right: 0 !important; }

/*
  // Layout margins
  .layout-margin-h  {
    margin-left: $layout-margin-h;
    margin-right: $layout-margin-h;
  }
*/
.flex.children-align-top {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  display: -webkit-flex;
  display: flex;
  align-items: flex-start; }
.flex.children-align-middle {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  display: -webkit-flex;
  display: flex;
  align-items: center; }
.flex.children-align-baseline {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  display: -webkit-flex;
  display: flex;
  align-items: baseline; }
.flex.children-align-bottom {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  display: -webkit-flex;
  display: flex;
  align-items: flex-end; }

.float-align-none {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  float: none; }

.float-align-left {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  float: left; }

.float-align-right {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  float: right; }

.float-align-center {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  display: block;
  margin-left: auto;
  margin-right: auto; }

.text-align-left {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  text-align: left; }

.text-align-center {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  text-align: center; }

.text-align-right {
  /*
   $horizontal: 'left' | 'center' | 'right' | 'justify' (stretch);
   $vertical: 'top' | 'baseline' | 'middle' (center) | 'bottom' | 'justify' (stretch);
   @if $height != null {
   height: $height;
   }
   */
  text-align: right; }

.nav, .button, .link, li.cta, .cta:not(li) {
  font-family: "system-ui", "system";
  font-size: 1rem;
  line-height: 1.5em; }

.nav ul, .nav ol {
  list-style: none;
  padding: 0;
  margin: 0; }
  .nav ul.scroll-y, .nav ol.scroll-y {
    overflow-y: auto; }
    .nav ul li a:hover, .nav ol li a:hover, .nav ul li a:active, .nav ol li a:active {
      text-decoration: none; }
      .nav ul li a .label, .nav ol li a .label, .nav ul li a .label .text, .nav ol li a .label .text {
        color: #000; }
  .nav ul.no-padding-h ul li a, .nav ol.no-padding-h ul li a, .nav ul.no-padding-h ol li a, .nav ol.no-padding-h ol li a {
    padding-left: 0;
    padding-right: 0; }

.button, .link, .cta:not(li), li.cta a {
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  text-align: center;
  text-decoration: none; }
  .button:hover, .link:hover, .cta:not(li):hover, li.cta a:hover, .button:active, .link:active, .cta:not(li):active, li.cta a:active {
    text-decoration: none; }
  .button:focus, .link:focus, .cta:not(li):focus, li.cta a:focus {
    outline: none; }
  .button.lowercase, .link.lowercase, .cta:not(li).lowercase, li.cta a.lowercase {
    text-transform: none; }
  .button .material-icons, .link .material-icons, .cta:not(li) .material-icons, li.cta a .material-icons {
    font-size: 1.3rem;
    position: relative;
    bottom: -0.1875rem; }
    .button .material-icons:last-child, .link .material-icons:last-child, .cta:not(li) .material-icons:last-child, li.cta a .material-icons:last-child {
      margin-right: 0; }
  .button .material-icons + .button-text, .link .material-icons + .button-text, .cta:not(li) .material-icons + .button-text, li.cta a .material-icons + .button-text, .button .material-icons + .text, .link .material-icons + .text, .cta:not(li) .material-icons + .text, li.cta a .material-icons + .text {
    flex: 1; }
  .button .button-text, .link .button-text, .cta:not(li) .button-text, li.cta a .button-text, .button .text, .link .text, .cta:not(li) .text, li.cta a .text {
    text-align: left;
    padding-top: 0.04em;
    padding-bottom: 0.04em; }
  .button .material-icons + .button-text, .link .material-icons + .button-text, .cta:not(li) .material-icons + .button-text, li.cta a .material-icons + .button-text, .button .material-icons + .text, .link .material-icons + .text, .cta:not(li) .material-icons + .text, li.cta a .material-icons + .text, .button .button-text + .material-icons, .link .button-text + .material-icons, .cta:not(li) .button-text + .material-icons, li.cta a .button-text + .material-icons, .button .text + .material-icons, .link .text + .material-icons, .cta:not(li) .text + .material-icons, li.cta a .text + .material-icons {
    margin-left: 0.5em; }

.button, .cta:not(li), li.cta a {
  -webkit-box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14);
  box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14);
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out; }
  .button:hover, .cta:not(li):hover, li.cta a:hover, .button:active, .cta:not(li):active, li.cta a:active {
    -webkit-box-shadow: 0 0.3125rem 0.6875rem 0 rgba(0, 0, 0, 0.18), 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0.3125rem 0.6875rem 0 rgba(0, 0, 0, 0.18), 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.3125rem 0.6875rem 0 rgba(0, 0, 0, 0.18), 0 0.25rem 0.9375rem 0 rgba(0, 0, 0, 0.15); }
  .button[disabled], .cta:not(li)[disabled], li.cta a[disabled] {
    background-color: silver;
    color: black;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .button[disabled]:hover, .cta:not(li)[disabled]:hover, li.cta a[disabled]:hover, .button[disabled]:active, .cta:not(li)[disabled]:active, li.cta a[disabled]:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

.button {
  background-color: #d7c47b;
  color: #fff;
  border-radius: 0.2em; }
  .button:hover, .button:active {
    background-color: #403713;
    color: #fff; }

.cta:not(li), li.cta a {
  background-color: #d7c47b;
  color: #513d35;
  border-radius: 1em; }
  .cta:not(li):hover, li.cta a:hover, .cta:not(li):active, li.cta a:active {
    background-color: #fff;
    color: #513d35; }

.link {
  color: #d7c47b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .link:not([class^="background-color"]) {
    background-color: transparent; }
  .link.first {
    padding-left: 0; }
  .link:hover, .link:active, .link.toggle-on {
    color: #403713;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.nav li a, .h48, .h36, .button, .link, .cta:not(li), li.cta a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start; }

.nav li a, .h36, .button, .link, .navs-padding {
  padding: 0.375rem 0.375rem 0.375rem 0.375rem; }

.cta:not(li), li.cta a {
  padding: 0.5em 1em; }

.nav.h48 li a, .h48:not(.nav) {
  padding: 0.875em; }

.nav li a abbr[title], .button abbr[title], .link abbr[title], .cta:not(li) abbr[title], li.cta a abbr[title], .nav li a acronym[title], .button acronym[title], .link acronym[title], .cta:not(li) acronym[title], li.cta a acronym[title] {
  text-decoration: none;
  border-bottom: none; }

a[title] abbr, abbr[title] a {
  text-decoration: none;
  border-bottom: none; }

.button + .button, .link + .link, .cta + .cta, .button + .link, .button + .cta, .link + .button, .link + .cta, .cta + .button, .cta + .link {
  margin-left: 0.5rem; }

/*
 & > .flex-grow1 {// equal width children
 @include flexbox((
 flex-grow: 1
 ));
 }
 &.nowrap {
 @include flexbox((
 flex-wrap: nowrap
 ));
 }
 &.align-top {
 @include align-items(flex-start);
 }
 &.align-bottom {
 @include align-items(flex-end);
 }
 &.align-middle {
 @include align-items(center);
 }
 &.align-baseline {
 @include align-items(baseline);
 }
 &.align-left {
 @include justify-content(flex-start);
 }
 &.align-center {
 @include justify-content(center);
 }
 &.align-right {
 @include justify-content(flex-end);
 }
 */
.alignnone {
  margin: 0.625rem 0.3125rem 0.625rem 0; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

blockquote.alignleft, figure.alignleft, img.alignleft {
  margin: 1rem 1rem 1rem 0; }

blockquote.alignright, figure.alignright, img.alignright {
  margin: 1rem 0 1rem 1rem; }

blockquote.aligncenter, figure.aligncenter, img.aligncenter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center; }

.text-align-right {
  text-align: right; }

.text-align-center {
  text-align: center; }

.background-black {
  background-color: #000; }

.background-darkcolor, .background-black {
  color: #fff; }
  .background-darkcolor h1, .background-black h1, .background-darkcolor h2, .background-black h2, .background-darkcolor h3, .background-black h3, .background-darkcolor h4, .background-black h4, .background-darkcolor h5, .background-black h5, .background-darkcolor h6, .background-black h6 {
    color: #d7c47b; }
    .background-darkcolor h1 a, .background-black h1 a, .background-darkcolor h2 a, .background-black h2 a, .background-darkcolor h3 a, .background-black h3 a, .background-darkcolor h4 a, .background-black h4 a, .background-darkcolor h5 a, .background-black h5 a, .background-darkcolor h6 a, .background-black h6 a {
      color: #d7c47b; }
      .background-darkcolor h1 a:hover, .background-black h1 a:hover, .background-darkcolor h2 a:hover, .background-black h2 a:hover, .background-darkcolor h3 a:hover, .background-black h3 a:hover, .background-darkcolor h4 a:hover, .background-black h4 a:hover, .background-darkcolor h5 a:hover, .background-black h5 a:hover, .background-darkcolor h6 a:hover, .background-black h6 a:hover, .background-darkcolor h1 a:active, .background-black h1 a:active, .background-darkcolor h2 a:active, .background-black h2 a:active, .background-darkcolor h3 a:active, .background-black h3 a:active, .background-darkcolor h4 a:active, .background-black h4 a:active, .background-darkcolor h5 a:active, .background-black h5 a:active, .background-darkcolor h6 a:active, .background-black h6 a:active {
        color: #fff; }
  .background-darkcolor [itemprop="headline"], .background-black [itemprop="headline"] {
    color: #fff; }
  .background-darkcolor .problem, .background-black .problem, .background-darkcolor .unique_selling_proposition, .background-black .unique_selling_proposition {
    color: #fd0; }
  .background-darkcolor a, .background-black a {
    color: #d7c47b; }
    .background-darkcolor a:hover, .background-black a:hover, .background-darkcolor a:active, .background-black a:active {
      color: #fff; }
    .background-darkcolor a.button, .background-black a.button {
      background-color: #d7c47b;
      color: #513d35; }
      .background-darkcolor a.button:hover, .background-black a.button:hover, .background-darkcolor a.button:active, .background-black a.button:active {
        background-color: #fff;
        color: #513d35; }

.background-color-gray {
  background-color: #f6f6f6; }

.background-white {
  background-color: #fff; }

.background-lightcolor, .background-white {
  color: #000; }

a.color-black:link, .color-black {
  color: #000; }

a.color-white:link, .color-white {
  color: #fff; }

a.color1:link, .color1 {
  color: #513d35; }

a.color1-lighter:link, .color1-lighter {
  color: #cfbdb6; }

.background-color1 {
  background-color: #513d35; }

.background-color1-darker {
  background-color: #000; }

.background-color1-lighter {
  background-color: #cfbdb6; }

a.color2:link, .color2 {
  color: #d7c47b; }

.background-color2 {
  background-color: #d7c47b; }

a.color2-lighter:link, .color2-lighter {
  color: #fff; }

.background-color2-lighter {
  background-color: #fff; }

strong, .strong {
  font-weight: bold; }

em, .em {
  font-style: italic; }

small, .small {
  font-size: 0.8rem; }

pre {
  overflow-x: auto; }

code {
  font-family: Hack, monospace;
  font-size: 1em; }

abbr, acronym {
  cursor: inherit; }
  abbr[title], acronym[title] {
    cursor: help;
    text-decoration: none;
    border-bottom: none; }

abbr.abbr[title], abbr.acronym[title], acronym.acronym[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

a {
  color: #513d35;
  text-decoration: none; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    text-decoration: underline;
    color: #000;
    outline: 0; }

p, .p {
  margin: 0 0 0.5em 0;
  padding: 0; }

.p {
  color: #444;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em; }

address {
  font-style: normal;
  margin-bottom: 0; }

blockquote {
  border: 0 none;
  margin: 0 0 1rem 0;
  padding: 0; }
  blockquote.box {
    position: relative;
    padding: 1rem 1rem 1rem 4rem;
    background-color: #cfbdb6;
    margin-bottom: 1rem; }
    blockquote.box:before {
      content: "\201C";
      font-family: Georgia, serif;
      font-size: 4em;
      color: #513d35;
      position: absolute;
      left: 1rem;
      top: 0; }
    blockquote.box:after {
      content: ""; }

/* Lists */
ul, ol {
  margin: 0 0 1rem 1rem;
  padding: 0; }
  ul.list-style-none, ol.list-style-none {
    list-style: none;
    margin-left: 0; }

ul {
  list-style-type: square; }
  ul ul {
    list-style-type: circle; }

ul.list-style-none, ol.list-style-none {
  list-style: none;
  margin-left: 0; }

.language-selector {
  text-transform: uppercase; }

#nav1, .modal {
  opacity: 1; }
  #nav1.full-page, .modal.full-page, #nav1.fixed, .modal.fixed {
    position: fixed;
    z-index: 99; }
  #nav1.full-page, .modal.full-page {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); }

.shadow-bottom {
  -webkit-box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14);
  box-shadow: -0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.14); }

#header {
  max-width: 1280px; }

#header1 [itemprop="logo"] {
  width: auto; }

#header1 hgroup h1[itemprop="name"] {
  margin: 0;
  font-size: 1.2em;
  position: relative;
  top: -0.1em; }
  #header1 hgroup h1[itemprop="name"] a {
    display: block; }
#header1 hgroup h2[itemprop="headline"] {
  font-size: 1rem;
  margin: 0; }

#header-main h1.sitename {
  margin-bottom: 0; }
  #header-main h1.sitename a {
    display: block; }
    #header-main h1.sitename a[href="#nav1"] {
      margin-left: auto; }
  #header-main h1.sitename a, #header-main h1.sitename img {
    height: 2.25rem;
    width: auto;
    transition-property: all;
    transition-duration: 1s; }
#header-main .cta {
  margin-left: auto; }

body.header-tall #header {
  height: 8.25rem; }
body.header-tall #header-main {
  height: 6rem; }
  body.header-tall #header-main h1.sitename a, body.header-tall #header-main h1.sitename img {
    height: 3rem; }

body.header-fixed #header {
  position: fixed;
  top: 0;
  z-index: 100; }
  body.header-fixed #nav1.full-page, body.header-fixed .modal.full-page, body.header-fixed #nav1.fixed, body.header-fixed .modal.fixed {
    top: 5.25rem; }
body.header-fixed.header-tall #nav1.full-page, body.header-fixed.header-tall .modal.full-page, body.header-fixed.header-tall #nav1.fixed, body.header-fixed.header-tall .modal.fixed {
  top: 8.25rem; }

#header-top {
  border-bottom: 1px solid #f6f6f6; }
  #header-top a {
    color: #513d35; }
    #header-top a:hover {
      color: #000; }
  #header-top .social {
    margin-left: auto; }

/*
 & > .flex-grow1 {// equal width children
 @include flexbox((
 flex-grow: 1
 ));
 }
 &.nowrap {
 @include flexbox((
 flex-wrap: nowrap
 ));
 }
 &.align-top {
 @include align-items(flex-start);
 }
 &.align-bottom {
 @include align-items(flex-end);
 }
 &.align-middle {
 @include align-items(center);
 }
 &.align-baseline {
 @include align-items(baseline);
 }
 &.align-left {
 @include justify-content(flex-start);
 }
 &.align-center {
 @include justify-content(center);
 }
 &.align-right {
 @include justify-content(flex-end);
 }
 */
h6, .h6, [itemprop="hasMenuItem"] h2[itemprop="name"] {
  font-size: 1em;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0.5rem 0 0 0; }

h5, .h5 {
  text-transform: uppercase;
  font-size: 1em;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0.5rem 0 0 0; }

h4, .h4 {
  font-size: 1.2rem;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 0.5em 0; }

h3, .h3 {
  font-size: 1.2em;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 1rem 0; }

.h3-bigstrong strong {
  color: inherit;
  font-size: 2em; }

h2, .h2 {
  font-size: 1.5rem;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 1rem 0; }

.page-title, .modal-title, h1, .h1 {
  font-size: 2rem;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 1rem 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'ambroise-std', 'Trebuchet MS', Georgia, serif;
  color: #513d35; }
  h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover, h1 a:active, .h1 a:active, h2 a:active, .h2 a:active, h3 a:active, .h3 a:active, h4 a:active, .h4 a:active, h5 a:active, .h5 a:active, h6 a:active, .h6 a:active {
    text-decoration: none; }
  h1 strong, .h1 strong, h2 strong, .h2 strong, h3 strong, .h3 strong, h4 strong, .h4 strong, h5 strong, .h5 strong, h6 strong, .h6 strong {
    color: inherit;
    font-size: 1em;
    font-weight: bold; }
    h1.monochrome strong, .h1.monochrome strong, h2.monochrome strong, .h2.monochrome strong, h3.monochrome strong, .h3.monochrome strong, h4.monochrome strong, .h4.monochrome strong, h5.monochrome strong, .h5.monochrome strong, h6.monochrome strong, .h6.monochrome strong {
      color: inherit; }

.display-none, .no {
  display: none !important; }

.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex > * {
    box-sizing: border-box; }
  .flex > .flex-grow1 {
    flex-grow: 1; }
  .flex.nowrap {
    flex-wrap: nowrap; }
  .flex.align-top {
    align-items: flex-start; }
  .flex.align-bottom {
    align-items: flex-end; }
  .flex.v-align-center, .flex.align-middle {
    align-items: center; }
  .flex.align-baseline {
    align-items: baseline; }
  .flex.align-left {
    justify-content: flex-start; }
  .flex.align-center {
    justify-content: center; }
  .flex.align-right {
    justify-content: flex-end; }

.flex-no {
  display: inherit; }

.flex1 {
  flex: 1; }

.width-full {
  width: 100%; }

.width-half, .w1of2 {
  width: 50%; }

.w1of3 {
  width: 33.3333333333%; }

.w2of3 {
  width: 66.6666666667%; }

.w1of4 {
  width: 25%; }

.w1of5 {
  width: 20%; }

.w2 {
  width: 50%; }

.cols1 {
  width: 100%; }
  .cols1 > * {
    width: 100%; }

.cols2 {
  width: 100%; }
  .cols2 > * {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols2 > :nth-child(2n+1) {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols2 > :nth-child(2n) {
    width: calc((100% - 1rem * (2 - 1)) / 2 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

.cols3 {
  width: 100%; }
  .cols3 > * {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols3 > :nth-child(3n+1) {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols3 > :nth-child(3n) {
    width: calc((100% - 1rem * (3 - 1)) / 3 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

.cols4 {
  width: 100%; }
  .cols4 > * {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem * 1);
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .cols4 > :nth-child(4n+1) {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem/2 * 1);
    padding-left: 0;
    padding-right: 0.5rem; }
  .cols4 > :nth-child(4n) {
    width: calc((100% - 1rem * (4 - 1)) / 4 + 1rem/2 * 1);
    padding-left: 0.5rem;
    padding-right: 0; }

/*
  @if $grid != '' {
    .section-padding-top,
    .section,
    .section-padding-top,
    .section {
      padding-top: $content-start-top;
    }
    .section-padding-bottom,
    .section,
    .section-padding-bottom,
    .section {
      padding-bottom: $content-start-top;
    }
  }
*/
.padding-d4, .padding-v-d4, .padding-top-d4 {
  padding-top: 0.25rem !important; }

.padding-d4, .padding-v-d4, .padding-bottom-d4 {
  padding-bottom: 0.25rem !important; }

.padding-d2, .padding-v-d2, .padding-top-d2 {
  padding-top: 0.5rem !important; }

.padding-d2, .padding-v-d2, .padding-bottom-d2 {
  padding-bottom: 0.5rem !important; }

.padding, .padding-v, .padding-top {
  padding-top: 1rem !important; }

.padding, .padding-v, .padding-bottom {
  padding-bottom: 1rem !important; }

.padding-2x, .padding-v-2x, .padding-top-2x {
  padding-top: 2rem !important; }

.padding-2x, .padding-v-2x, .padding-bottom-2x {
  padding-bottom: 2rem !important; }

.padding-d4, .padding-h-d4, .padding-right-d4 {
  padding-right: 0.25rem !important; }

.padding-d2, .padding-h-d2, .padding-right-d2 {
  padding-right: 0.5rem !important; }

.padding, .padding-h, .padding-right {
  padding-right: 1rem !important; }

.padding-2x, .padding-h-2x, .padding-right-2x {
  padding-right: 2rem !important; }

.padding-d4, .padding-h-d4, .padding-left-d4 {
  padding-left: 0.25rem !important; }

.padding-d2, .padding-h-d2, .padding-left-d2 {
  padding-left: 0.5rem !important; }

.padding, .padding-h, .padding-left {
  padding-left: 1rem !important; }

.padding-2x, .padding-h-2x, .padding-left-2x {
  padding-left: 2rem !important; }

.full-width {
  padding-left: 0;
  padding-right: 0; }

.no-padding-top, .no-padding, .no-padding-v {
  padding-top: 0 !important; }

.no-padding-bottom, .no-padding, .no-padding-v {
  padding-bottom: 0 !important; }

.no-padding-left, .no-padding, .no-padding-h {
  padding-left: 0 !important; }

.no-padding-right, .no-padding, .no-padding-h {
  padding-right: 0 !important; }

.margin-d4, .margin-v-d4, .margin-top-d4 {
  margin-top: 0.25rem; }

.margin-d4, .margin-v-d4, .margin-bottom-d4 {
  margin-bottom: 0.25rem; }

.margin-d2, .margin-v-d2, .margin-top-d2 {
  margin-top: 0.5rem; }

.margin-d2, .margin-v-d2, .margin-bottom-d2 {
  margin-bottom: 0.5rem; }

.margin, .margin-v, .margin-top {
  margin-top: 1rem; }

.margin, .margin-v, .margin-bottom {
  margin-bottom: 1rem; }

.margin-2x, .margin-v-2x, .margin-top-2x {
  margin-top: 2rem; }

.margin-2x, .margin-v-2x, .margin-bottom-2x {
  margin-bottom: 2rem; }

.margin-d4, .margin-h-d4, .margin-right-d4 {
  margin-right: 0.25rem; }

.margin-d2, .margin-h-d2, .margin-right-d2 {
  margin-right: 0.5rem; }

.margin, .margin-h, .margin-right {
  margin-right: 1rem; }

.margin-2x, .margin-h-2x, .margin-right-2x {
  margin-right: 2rem; }

.margin-d4, .margin-h-d4, .margin-left-d4 {
  margin-left: 0.25rem; }

.margin-d2, .margin-h-d2, .margin-left-d2 {
  margin-left: 0.5rem; }

.margin, .margin-h, .margin-left {
  margin-left: 1rem; }

.margin-2x, .margin-h-2x, .margin-left-2x {
  margin-left: 2rem; }

.no-margin-top, .no-margin, .no-margin-v {
  margin-top: 0 !important; }

.no-margin-bottom, .no-margin, .no-margin-v {
  margin-bottom: 0 !important; }

.no-margin-left, .no-margin, .no-margin-h {
  margin-left: 0 !important; }

.no-margin-right, .no-margin, .no-margin-h {
  margin-right: 0 !important; }

/*
  // Layout margins
  .layout-margin-h  {
    margin-left: $layout-margin-h;
    margin-right: $layout-margin-h;
  }
*/
#page, .page-shadow {
  -webkit-box-shadow: 0 0 1.25rem 0.9375rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1.25rem 0.9375rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.25rem 0.9375rem rgba(0, 0, 0, 0.2); }

.background-color1-transparent {
  background-color: rgba(81, 61, 53, 0.7); }

.uppercase {
  text-transform: uppercase; }

body.has_breadcrumbs #main {
  padding-top: 0; }
body.has_breadcrumbs #breadcrumbs {
  padding-top: 8.25rem; }

.cover {
  width: 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #808080;
  background-repeat: no-repeat; }
  .cover h1 {
    margin: 0; }
