#header-top {
  border-bottom: 1px solid $grigio-chiaro;
  @if variable-exists(header-top-font-size) {
    &,
    .button,
    .link {
      font-size: $header-top-font-size;
    }
  }
  @if variable-exists(header-top-icon-size) {
    .material-icons,
    .icon {
      font-size: $header-top-icon-size;
    }
  }
  @if variable-exists(header-top-link-color) {
    a {
      color: $header-top-link-color;
      &:hover {
        color: $header-top-link-hover-color;
      }
    }
  }
  .social {
    margin-left: auto;
  }
}
