@import "settings";
#footer {
  grid-area: footer;
}
#footer #fiscal-data{
  grid-area: fiscal-data;
}
html:not([lang="en"]),
html:not([lang="en-US"]),
html:not([lang="en-UK"]){
  & [lang="en"] {
    font-style: italic;
  }
}