/* MEDIA
 * 1.1. Images
 * YouTube Video
 * Google Maps
 * Audio
 */
/* 1.1. Images */
//@import "../reset/normalize/img",
//"../reset/normalize/audio_video",
//"../reset/normalize/figure";
img {
  vertical-align: top;
}
picture {
  display: inline;
  &,
  &.horizontal,
  & img,
  &.horizontal img {
    width: 100%;
    height: auto;
  }
  &.vertical,
  &.vertical img {
    height: 100%;
    width: auto;
  }
}
a.preview,
figure,
picture {
  margin: 0;
  overflow: hidden;
}
a.preview {
  display: inline-block;
  width: 100%;
}
figure {
  figcaption {
		font-size: $text-small-font-size;
		border-bottom: 1px solid #000;
		padding-left: $gutter/2;
		padding-right: $gutter/2;
  }
  &.circle,
  &.square {
    margin: 0 auto;
    picture {
      position: relative;
      &,
      &.horizontal,
      & img,
      &.horizontal img {
        height: 100%;
        width: auto;
      }
      &.vertical,
      &.vertical img {
        width: 100%;
        height: auto;
      }
    }
  }
  &.circle {
    width: 12em;
    height: 12em;
    border-radius: 50%;
  }
}
// Responsive video
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Aspect Ratio
[class^='ar_'],
[class*=' ar_'] {
  position: relative;// If you want content inside of it
  @include box-sizing(border-box);
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.ar_1_1 {
  padding-top: 100%;// 1:1 Aspect Ratio
}
.ar_3_2 {
padding-top: 100%/3*2;// 3:2 Aspect Ratio
}
.ar_4_3 {
  padding-top: 100%/4*3;// 4:3 Aspect Ratio
}
.ar_8_5 {
  padding-top: 100%/8*5;// 8:5 Aspect Ratio
}
.ar_16_9 {
  padding-top: 100%/16*9;// 16:9 Aspect Ratio
}
