@import
  "settings",
  "../../../../ws-core/scss/core/basic_layout_all",
  "../../../../ws-core/scss/core/grid_all",
  "../../../../ws-core/scss/core/navs",
  "../../../../ws-core/scss/core/mixins_align",
  "../../../../ws-core/scss/core/align",
  "../../../../ws-core/scss/core/colors_and_backgrounds",
  "../../../../ws-core/scss/core/inline",
  "../../../../ws-core/scss/core/blocks",
  "header_all",
  "header_top_all",
  "headings",
  "intro";
  @include grid('');
  @include box-model('');
#page,
.page-shadow {
  -webkit-box-shadow: $shadow-large;
  -moz-box-shadow: $shadow-large;
  box-shadow: $shadow-large;
}
.background-color1-transparent {
  background-color: rgba(81,61,53,0.7);
}
.uppercase {
  text-transform: uppercase;
}
.cover {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  h1 {
    margin: 0;
  }
}
