// maxgrid-abovethefold.scss
@import
  "settings",
  "../../../../ws-core/scss/core/grid_maxgrid",
  "header_maxgrid",
  "header_top_maxgrid";
@include grid('maxgrid-');
@include box-model('maxgrid-');
@include navs('maxgrid-');
.section-padding-top,
.section {
  padding-top: $maxgrid-content-start-top;
}
.section-padding-bottom,
.section {
  padding-bottom: $maxgrid-content-start-top;
}
#header1 li.cta {
  margin: $cta-margin;
}
.cover {
  height: $maxgrid-cover-height;
}
